In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Import labeled dataset
l_df = pd.read_csv('/content/drive/MyDrive/120321-V12/tweetid_userid_keyword_sentiments_emotions_Argentina.zip')

In [ ]:
l_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68645 entries, 0 to 68644
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet_ID             68645 non-null  int64
 1   user_id              68645 non-null  int64
 2   keywords             68645 non-null  object
 3   tweet_timestamp      68645 non-null  object
 4   valence_intensity    68645 non-null  float64
 5   fear_intensity       68645 non-null  float64
 6   anger_intensity      68645 non-null  float64
 7   happiness_intensity  68645 non-null  float64
 8   sadness_intensity    68645 non-null  float64
 9   sentiment            68645 non-null  int64
 10  emotion              55983 non-null  object
dtypes: float64(5), int64(3), object(3)
memory usage: 5.8+ MB

In [ ]:
l_df.head()

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
0,1221975184682442753,3157061045,wuhan,2020-01-28 01:56:01,0.374,0.576,0.479,0.261,0.468,-1,F
1,1222091562580107270,55560080,wuhan,2020-01-28 09:38:28,0.401,0.651,0.457,0.270,0.490,-1,F
2,1222112877819179008,146560769,wuhan,2020-01-28 11:03:10,0.509,0.519,0.419,0.286,0.430,0,NaN
3,1222114892758446080,1161335189135486977,wuhan,2020-01-28 11:11:10,0.593,0.406,0.339,0.354,0.322,1,H
4,1222119134697271296,1217622758735085569,wuhan,2020-01-28 11:28:02,0.260,0.468,0.744,0.112,0.586,-2,A

In [ ]:
l_df.keywords.value_counts()

NameError: ignored

In [ ]:
l_df = l_df[l_df.keywords.isin(['covid','corona'])][['tweet_ID','sentiment']].reset_index(drop=True)

NameError: ignored

In [3]:
# Import extracted tweets using snscraper
df = pd.read_csv('/content/drive/MyDrive/tweets_extracted_IDs.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937466 entries, 0 to 937465
Data columns (total 1 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Tweet Id  937466 non-null  int64
dtypes: int64(1)
memory usage: 7.2 MB

In [4]:
df.head()

              Tweet Id
0  1215249537834442753
1  1215247865066524675
2  1215076140412366848
3  1217191264858206209
4  1217063853894307842

In [ ]:
pd.merge(df,l_df, left_on='Tweet Id', right_on='tweet_ID')[['Tweet Id', 'sentiment']]

                Tweet Id             tweet_ID  sentiment
0    1254120166226608129  1254120166226608129         -1
1    1261419115404648448  1261419115404648448         -1
2    1263179893849886720  1263179893849886720          1
3    1264673527355060226  1264673527355060226         -1
4    1267600145434185728  1267600145434185728         -1
..                   ...                  ...        ...
119  1399367177963180038  1399367177963180038         -1
120  1401999960585953284  1401999960585953284          1
121  1402319478533337092  1402319478533337092          0
122  1404531479623962626  1404531479623962626          1
123  1408858528027193355  1408858528027193355         -1

[124 rows x 3 columns]

### Labeling

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/tweets_extracted_IDs.csv')
for file in os.listdir('/content/drive/MyDrive/120321-V12'):
  print('----------------------------------------------------------------------------------------------------')
  country = file.replace('tweetid_userid_keyword_sentiments_emotions_','').replace('.zip','')
  print('Extracting sentiment labels from ',country)
  l_df = pd.read_csv('/content/drive/MyDrive/120321-V12/'+file, iterator=True, chunksize=2000000)
  for i, chunk in enumerate(l_df):
    print('Number of tweets : ', len(chunk))
    chunk_df = chunk[chunk.keywords.isin(['covid','corona'])][['tweet_ID','sentiment']].reset_index(drop=True)
    print('Number of tweets with reference to covid or corona : ',len(chunk_df))
    labeled_df = pd.merge(df,chunk_df, left_on='Tweet Id', right_on='tweet_ID')[['Tweet Id', 'sentiment']]
    print('Matches found : ',len(labeled_df))
    filename = '/content/drive/MyDrive/labeled_tweets/{0}_{1}.csv'.format(country,i)
    labeled_df.to_csv(filename, index=False)
    print('Saved tweets to ',filename)
  print('----------------------------------------------------------------------------------------------------')

----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Argentina
Number of tweets :  68645
Number of tweets with reference to covid or corona :  67463
Matches found :  124
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Argentina_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Australia
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1936445
Matches found :  3177
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Australia_0.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1980032
Matches found :  8701
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Australia_1.csv
Number of tweets :  533585
Number of tweets with reference to covid or corona :  530059
Matches found :  4070
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Australia_2.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Canada
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1930665
Matches found :  2455
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Canada_0.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1987523
Matches found :  5344
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Canada_1.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1983267
Matches found :  7965
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Canada_2.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1984066
Matches found :  8782
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Canada_3.csv
Number of tweets :  1049597
Number of tweets with reference to covid or corona :  1043778
Matches found :  7686
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Canada_4.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Brazil
Number of tweets :  305200
Number of tweets with reference to covid or corona :  299848
Matches found :  508
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Brazil_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  China
Number of tweets :  284166
Number of tweets with reference to covid or corona :  219358
Matches found :  204
Saved tweets to  /content/drive/MyDrive/labeled_tweets/China_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  France
Number of tweets :  609958
Number of tweets with reference to covid or corona :  592506
Matches found :  870
Saved tweets to  /content/drive/MyDrive/labeled_tweets/France_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Denmark
Number of tweets :  135245
Number of tweets with reference to covid or corona :  132802
Matches found :  199
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Denmark_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  India
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1929479
Matches found :  68
Saved tweets to  /content/drive/MyDrive/labeled_tweets/India_0.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1973986
Matches found :  790
Saved tweets to  /content/drive/MyDrive/labeled_tweets/India_1.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1982375
Matches found :  1101
Saved tweets to  /content/drive/MyDrive/labeled_tweets/India_2.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1986292
Matches found :  3394
Saved tweets to  /content/drive/MyDrive/labeled_tweets/India_3.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1975965
Matches found :  3080
Saved tweets to  /content/drive/MyDrive/labeled_tweets/India_4.csv
Number of tweets :  1148980
Number of tweets with reference to covid or corona :  1139520
Matches found :  296
Saved tweets to  /content/drive/MyDrive/labeled_tweets/India_5.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Indonesia
Number of tweets :  305709
Number of tweets with reference to covid or corona :  299024
Matches found :  170
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Indonesia_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Ireland
Number of tweets :  1771300
Number of tweets with reference to covid or corona :  1754265
Matches found :  6710
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Ireland_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Italy
Number of tweets :  299455
Number of tweets with reference to covid or corona :  292115
Matches found :  459
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Italy_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Japan
Number of tweets :  386460
Number of tweets with reference to covid or corona :  371651
Matches found :  472
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Japan_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Kenya
Number of tweets :  1052348
Number of tweets with reference to covid or corona :  1037869
Matches found :  1050
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Kenya_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Malaysia
Number of tweets :  571054
Number of tweets with reference to covid or corona :  559555
Matches found :  363
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Malaysia_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Nigeria
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1977797
Matches found :  2860
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Nigeria_0.csv
Number of tweets :  225393
Number of tweets with reference to covid or corona :  224339
Matches found :  667
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Nigeria_1.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Pakistan
Number of tweets :  1198779
Number of tweets with reference to covid or corona :  1183092
Matches found :  1891
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Pakistan_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Singapore
Number of tweets :  483706
Number of tweets with reference to covid or corona :  464188
Matches found :  412
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Singapore_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Russia
Number of tweets :  73756
Number of tweets with reference to covid or corona :  70809
Matches found :  94
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Russia_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  South Africa
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1975352
Matches found :  3894
Saved tweets to  /content/drive/MyDrive/labeled_tweets/South Africa_0.csv
Number of tweets :  46941
Number of tweets with reference to covid or corona :  46675
Matches found :  212
Saved tweets to  /content/drive/MyDrive/labeled_tweets/South Africa_1.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  South Korea
Number of tweets :  103459
Number of tweets with reference to covid or corona :  99576
Matches found :  119
Saved tweets to  /content/drive/MyDrive/labeled_tweets/South Korea_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Spain
Number of tweets :  197981
Number of tweets with reference to covid or corona :  192212
Matches found :  362
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Spain_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  United Kingdom
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1907696
Matches found :  1350
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United Kingdom_0.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1975393
Matches found :  3143
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United Kingdom_1.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1986557
Matches found :  4453
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United Kingdom_2.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1990821
Matches found :  5086
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United Kingdom_3.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1983058
Matches found :  5397
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United Kingdom_4.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1988076
Matches found :  7186
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United Kingdom_5.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1983616
Matches found :  9048
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United Kingdom_6.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1987828
Matches found :  7386
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United Kingdom_7.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1990953
Matches found :  7471
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United Kingdom_8.csv
Number of tweets :  736635
Number of tweets with reference to covid or corona :  733372
Matches found :  6279
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United Kingdom_9.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Turkey
Number of tweets :  96986
Number of tweets with reference to covid or corona :  94485
Matches found :  81
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Turkey_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  Thailand
Number of tweets :  180352
Number of tweets with reference to covid or corona :  174585
Matches found :  72
Saved tweets to  /content/drive/MyDrive/labeled_tweets/Thailand_0.csv
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Extracting sentiment labels from  United States
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1741700
Matches found :  1409
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_0.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1867633
Matches found :  1300
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_1.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1916503
Matches found :  1645
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_2.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1909704
Matches found :  2225
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_3.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1917265
Matches found :  2284
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_4.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1925103
Matches found :  2728
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_5.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1951842
Matches found :  3840
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_6.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1971075
Matches found :  5636
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_7.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1975048
Matches found :  4994
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_8.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1970856
Matches found :  5135
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_9.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1979052
Matches found :  5252
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_10.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1973939
Matches found :  4939
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_11.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1975777
Matches found :  5465
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_12.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1984485
Matches found :  4341
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_13.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1987666
Matches found :  5469
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_14.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1989161
Matches found :  5844
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_15.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1987760
Matches found :  5422
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_16.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1985948
Matches found :  6423
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_17.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1980575
Matches found :  5843
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_18.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1981222
Matches found :  6733
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_19.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1977558
Matches found :  7822
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_20.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1984306
Matches found :  8612
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_21.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1976885
Matches found :  8426
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_22.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1973084
Matches found :  7113
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_23.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1921086
Matches found :  7510
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_24.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1975093
Matches found :  8209
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_25.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1984829
Matches found :  7476
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_26.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1981581
Matches found :  8333
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_27.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1975501
Matches found :  10493
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_28.csv
Number of tweets :  2000000
Number of tweets with reference to covid or corona :  1978224
Matches found :  13270
Saved tweets to  /content/drive/MyDrive/labeled_tweets/United States_29.csv
Number of tweets :  2000000

In [ ]:
path = '/content/drive/MyDrive/labeled_tweets/'
df = pd.DataFrame()
for file in os.listdir(path):
  country = file[:file.find('_')]
  temp = pd.read_csv(path+file)
  temp['country'] = country
  df = df.append(temp)
  print('{0} tweets added, size now : {1}'.format(len(temp),len(df)))
df.info()

124 tweets added, size now : 124
3177 tweets added, size now : 3301
8701 tweets added, size now : 12002
4070 tweets added, size now : 16072
2455 tweets added, size now : 18527
5344 tweets added, size now : 23871
7965 tweets added, size now : 31836
8782 tweets added, size now : 40618
7686 tweets added, size now : 48304
508 tweets added, size now : 48812
204 tweets added, size now : 49016
870 tweets added, size now : 49886
199 tweets added, size now : 50085
68 tweets added, size now : 50153
790 tweets added, size now : 50943
1101 tweets added, size now : 52044
3394 tweets added, size now : 55438
3080 tweets added, size now : 58518
296 tweets added, size now : 58814
170 tweets added, size now : 58984
6710 tweets added, size now : 65694
459 tweets added, size now : 66153
472 tweets added, size now : 66625
1050 tweets added, size now : 67675
363 tweets added, size now : 68038
2860 tweets added, size now : 70898
667 tweets added, size now : 71565
1891 tweets added, size now : 73456
412 tweets added, size now : 73868
94 tweets added, size now : 73962
3894 tweets added, size now : 77856
212 tweets added, size now : 78068
119 tweets added, size now : 78187
362 tweets added, size now : 78549
1350 tweets added, size now : 79899
3143 tweets added, size now : 83042
4453 tweets added, size now : 87495
5086 tweets added, size now : 92581
5397 tweets added, size now : 97978
7186 tweets added, size now : 105164
9048 tweets added, size now : 114212
7386 tweets added, size now : 121598
7471 tweets added, size now : 129069
6279 tweets added, size now : 135348
81 tweets added, size now : 135429
72 tweets added, size now : 135501
1409 tweets added, size now : 136910
1300 tweets added, size now : 138210
1645 tweets added, size now : 139855
2225 tweets added, size now : 142080
2284 tweets added, size now : 144364
2728 tweets added, size now : 147092
3840 tweets added, size now : 150932
5636 tweets added, size now : 156568
4994 tweets added, size now : 161562
5135 tweets added, size now : 166697
5252 tweets added, size now : 171949
4939 tweets added, size now : 176888
5465 tweets added, size now : 182353
4341 tweets added, size now : 186694
5469 tweets added, size now : 192163
5844 tweets added, size now : 198007
5422 tweets added, size now : 203429
6423 tweets added, size now : 209852
5843 tweets added, size now : 215695
6733 tweets added, size now : 222428
7822 tweets added, size now : 230250
8612 tweets added, size now : 238862
8426 tweets added, size now : 247288
7113 tweets added, size now : 254401
7510 tweets added, size now : 261911
8209 tweets added, size now : 270120
7476 tweets added, size now : 277596
8333 tweets added, size now : 285929
10493 tweets added, size now : 296422
13270 tweets added, size now : 309692
8108 tweets added, size now : 317800
6448 tweets added, size now : 324248
9970 tweets added, size now : 334218
16184 tweets added, size now : 350402
10973 tweets added, size now : 361375
32 tweets added, size now : 361407
24 tweets added, size now : 361431
107 tweets added, size now : 361538
4800 tweets added, size now : 366338
616 tweets added, size now : 366954
<class 'pandas.core.frame.DataFrame'>
Int64Index: 366954 entries, 0 to 615
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Tweet Id   366954 non-null  int64
 1   sentiment  366954 non-null  int64
 2   country    366954 non-null  object
dtypes: int64(2), object(1)
memory usage: 11.2+ MB

In [ ]:
df.head()

              Tweet Id  sentiment    country
0  1254120166226608129         -1  Argentina
1  1261419115404648448         -1  Argentina
2  1263179893849886720          1  Argentina
3  1264673527355060226         -1  Argentina
4  1267600145434185728         -1  Argentina

In [ ]:
df.country.value_counts()

United States     225874
United Kingdom     56799
Canada             32232
Australia          15948
India               8729
Ireland             6710
New Zealand         4800
South Africa        4106
Nigeria             3527
Pakistan            1891
Kenya               1050
France               870
Philippines          616
Brazil               508
Japan                472
Italy                459
Singapore            412
Malaysia             363
Spain                362
China                204
Denmark              199
Indonesia            170
Argentina            124
South Korea          119
Colombia             107
Russia                94
Turkey                81
Thailand              72
Vietnam               32
Iran                  24
Name: country, dtype: int64

In [ ]:
df.to_csv('/content/drive/MyDrive/labeled_tweets.csv', index=False)

#### Merging with extracted data

In [5]:
df = pd.read_csv('/content/drive/MyDrive/labeled_tweets.csv')

In [6]:
dfs = [] # an empty list to store the data frames
path_to_json = '/content/drive/MyDrive/data_with_no_replies_links'
json_files = [path_to_json+'/'+pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

dfs = [] # an empty list to store the data frames
for file in json_files:
    with open(file,'r') as file:
        data = pd.read_json(file, lines=True) # read data frame from json file
        dfs.append(data) # append the data frame to the list

temp = pd.concat(dfs, ignore_index=True) # concatenate all the data frames in the list.
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937466 entries, 0 to 937465
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  937466 non-null  datetime64[ns]
 1   Tweet Id  937466 non-null  int64
 2   Text      937466 non-null  object
 3   Username  937466 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 28.6+ MB

In [7]:
temp.to_csv('/content/drive/MyDrive/data_with_no_replies_links.csv', index=False)

In [8]:
def process_sent_labels(x):
  if(x==0):
    return 'Neutral'
  elif(x<0):
    return 'Negative'
  elif(x>0):
    return 'Positive'

labeled_df = pd.merge(df, temp, on ='Tweet Id', how='right')
labeled_df['sentiment'] = labeled_df.sentiment.apply(lambda x:process_sent_labels(x))
labeled_df.sentiment.value_counts()

Negative    245823
Positive     76415
Neutral      46820
Name: sentiment, dtype: int64

In [9]:
labeled_df[labeled_df.sentiment.notnull()].head()

,Tweet Id,sentiment,country,Datetime,Text,Username
1,1530337446269001730,Positive,United States,2022-05-27 23:57:34,Iâ€™m ready to read these behind the scenes stor...,ShawnZGatlin
3,1530337329042235393,Negative,United States,2022-05-27 23:57:06,Covid permanently ruined my sense of smell &am...,ReverieLOVE
4,1530337273614581762,Negative,United States,2022-05-27 23:56:52,My three year oldâ€™s COVID has relapsed. I hate...,msruggerio
5,1530337250978017283,Positive,United States,2022-05-27 23:56:47,Delivering my husband his paxlovid within 20 m...,darakass
6,1530337166341328896,Negative,Australia,2022-05-27 23:56:27,Repeat ad nauseum for person after person:\n\n...,AugersMonster

In [10]:
labeled_df[labeled_df.sentiment.notnull()].Datetime.min(), labeled_df[labeled_df.sentiment.notnull()].Datetime.max()

(Timestamp('2020-01-28 10:23:10'), Timestamp('2022-06-01 23:59:07'))

In [11]:
labeled_df.to_csv('/content/drive/MyDrive/labeled_data_with_no_replies_links.csv', index=False)